.DS_Store
*.log
simple_BACKUP_8561.html simple_BACKUP_8643.html
simple_BASE_8561.html
simple_BASE_8643.html
simple_LOCAL_8561.html
simple_LOCAL_8643.html simple_REMOTE_8561.html
simple_REMOTE_8643.html